@keyframes light {
    0%{
        background-color: var(--accent-color);
    }
    100%{
        background-color: #acacac;
    }
}

@keyframes rail-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

