@keyframes light {
    0% {
        background-color: var(--red);
    }

    100% {
        background-color: #acacac;
    }
}

@keyframes rail-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes animationHeader1 {
    0% {
        top: -25%;
    }

    40% {
        top: 40%;
    }

    60% {
        top: 25%;
    }

    100% {
        top: 110%;
    }
}